{% extends "main.twig" %}

{% block content %}
    <h1>Dashboard</h1>
    <ul>
        <li><a href="/php_2/signup">Add User</a></li>
        <li><a href="/php_2/jobs/add">Add Job</a></li>
    </ul>
    <br>
    <br>
    <a href="/php_2/logout">Logout</a>

{% endblock%}
